<main class="home-wrapper">
  <header>
    <h1>
      Seu Assistente Chegou!
    </h1>
    <p>
      Aqui você consegue tirar todas as
      suas dúvidas e aprender mais sobre
      o bairro de Iraja!
    </p>
  </header>
  <section class="img-section">
    <icon-sparkle class="sparkle"></icon-sparkle>
    <img src="/assets/iraja_love.jpeg" alt="bairro de iraja">
  </section>


    <button (click)="openChat()">Vamos conversar?

      <icon-arrow-right class="arrow-right"></icon-arrow-right>
    </button>

</main>
